@media screen and (max-device-width: 480px) {
  html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }

  .form-control {
    margin-left: 6px;
  }

  .ripple {
    margin-right: 6px;
  }

  .search-btn-col {
    padding-left: 0;
  }
}

.card-text {
  padding-top: 20px;
}
