.form-control {
  margin-right: .5rem;
  border-radius: 0.25rem!important;
}

.input-group {
  margin: .5rem 0;
}

@media screen and (max-device-width: 574px){
  .form-control {
    margin-left: .5rem;
  }
  .ripple {
    margin-right: .5rem;
  }
}
