.jumbotron {
  background-image: url(./videoblocks-old-library-shelves_bn3eipdwb_thumbnail-full01.png);
  background-size: cover;
  margin-bottom: 0;
  border-radius: 0;
}

.display-3, .lead {
    color: white;
    text-align: center;
}