div.jumbotron {
background-image: url(./videoblocks-old-library-shelves_bn3eipdwb_thumbnail-full01.png);
background-size: cover;
}

.white{
    color:floralwhite;
    text-align: center;
    /* font-family: 'Lato', sans-serif; */
}

h1 {
    font-family: 'Satisfy', cursive;
}