.card {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background: #005E9B;
    flex-basis: 250px;
    color: white;
    padding: 2em;
    text-align: left;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 2em;
    grid-template-areas: 
      "image name"
      "image position"
      "social description";
  }
  
  .profile-name     { grid-area: name; }
  .profile-position { grid-area: position; }
  .profile-info     { grid-area: description; }
  .profile-img      { grid-area: image; }
  .social-list      { grid-area: social; }